body {
  background-color : rgb(255,255,255);
}
h6 {font-weight: bold;
}

.jumbotron {
  font: yellow;
  background-image : url('jumbo.png');
  background-repeat: no-repeat;
  background-color: white;
  background-position: center;
}

p {
  padding-right: 41px;
  padding-left: 41px;
  font-size: 17px;
}

a.nav-link {
  padding-right: 17px;
}

.jumbotron. jumbotron.h1 {color: yellow !important;
}
